body{
    background-image:url(../image/tailor4.jpg);
    background-size: 100%;
    background-position: right top;
    background-repeat: no-repeat;
    
}
container{
    width: 100%;
    height: 100%;
}


figure{
    padding: 0;
    margin: 0;
    float: left;
}
li{
    float: left;
    padding: 15px;
    overflow: hidden;
    margin-left: 40px;
    border-bottom-left-radius: 5px;
    size: 10px;
}


a:hover{
color: lightblue;
cursor: pointer;
}

a{
    color: #ffffff;
}
#aboutMe{
    float: left;
    text-align: center;
    margin-top: 20em;
    margin-left: -35em;
    font-size: 1em;
}
.welcome{
    color:white;
    text-align: center;
    float: left;
    margin-top: 3em;
    margin-left: 4em;
    font-size: 2em;
}
