body{
    background-image:url(../image/usham.JPG);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 70px;
    height: 50px;
}
.about{
    background-color:black;
    margin-top: 15em;
    padding: 30px;
    margin-left: 18em;
    color: #ccc;
    width: 40em;
    text-align: center;
    color: #f2f2f2;
    font-style: italic;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color:darkcyan;
    color: white;
    padding: 20px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    margin-top: 400px;
    margin-left: 15em;
    width: 50em;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    
}
